#home

  = render :partial => "home/follow"

  .head.single
    %h3.banner
      Brought to you by the Global Health 490 class at the University of Washington

  #value 

    .people
      - get_users(88).each do |user|
        .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}

    .subheader
      %h2 
        %ul
          %li.first
            Equality
          %li.second
            Equity
      
      %h2.valueprop
        To pursue the American dream, go to Sweden!



#active_proposals
  %h2.get_started
    Start participating by clicking an idea.
  
  = render :partial => "proposals/blocks/strip", :locals => { :style => 'blocks', :hide_initially => false }

  - if @domain
    #zipcode_entered
      %span.unlocked
        - if (cnt = @domain.domain_maps.count) == 0
          There are no #{@domain.name} ideas on this site. 
        - else
          View #{cnt==1 ? "this" : "these"} #{cnt} #{@domain.name} #{cnt==1 ? 'idea' : 'ideas'}.
                
  - else
    #zipcode_entry
      .triangle
        &#x25b2;

      .prompt
        Unlock your local measures. 
      .zipform
        = form_tag '/home/domain', :id => 'domain' do
          %span.inlined
            = label_tag :domain, 'zip code'
            = text_field_tag :domain, '', :title => 'your zip code'
          = submit_tag 'Set', :class => 'gray'
      .clear

    :javascript

      $j("input#domain").autocomplete({
        source: #{get_available_domains()},
        select: function(event, ui){
         /*$j.post("#{home_domain_path}", { domain: ui.item.value }, function(data){
          $j('#domain').append(data);
         });
         */
        }
      });

:javascript
  var logo_cell = $j('.logo_cell'),
      logo = $j('img', logo_cell);
    logo.hide()
      .attr('src', "#{theme_image_path('logo_large.png')}");
    logo_cell
      .css({'top': '-16px', 'left': '376px'})
      .find('a')
        .removeAttr('href');