
.about

  %h3.label
    About

  .body
    This discussion platform is a free service provided by the Global Health 490 class at the #{link_to 'University of Washington', 'http://engage.cs.washington.edu/', :target => '_blank'}.



.contact

  .body

    
    - if APP_CONFIG['socmedia']['facebook']['include_follow']
      %span.facebook

        .wrapper
          = image_tag 'fb_f.png'
          Like

        %iframe{:src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FLiving-Voters-Guide%2F157151824312366&send=false&layout=button_count&width=100&show_faces=false&action=like&colorscheme=light&font=lucida+grande", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:90px;", :allowTransparency => "true"}


    - if APP_CONFIG['socmedia']['twitter']['include_follow']
      %span.twitter
        .wrapper
          = image_tag 'twitter_bird.png'
          Follow
        %a.twitter-follow-button{:href => "https://twitter.com/lvguide", "data-show-count".intern => "false", "data-width".intern => "90px", "data-show-screen-name".intern => "true"}
        %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}

    %form.email
      %input{ :type => 'button', :value => 'Email questions & comments', :onclick => "parent.location='mailto:ghconsiderit@gmail.com?subject=I have a question or comment about the Health E Public'"}
        

.link_list

  %h3.label
    Relevant Links

  .body
    - APP_CONFIG['footer']['resources'].each do |resource_block|
      - links = resource_block['items']

      - links.each do |link|
        #{link_to(link['anchor'] , link['link'], :target => "_blank", :title => link['title'])}#{link == links.last ? '' : ', '}
		
    %hr.ledge.top
    %hr.ledge.bottom



