#sitemap
  %h1
    Public Health Ideas
  %ul
    - @proposals.each do |opt|

      %li
        %a{ :href => "#{proposal_path(opt)}", :title => "#{opt.domain} #{opt.category} #{opt.designator} #{opt.name}"}
          #{opt.domain} #{opt.category} #{opt.designator} #{opt.name} 
